<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Configuration du server -->
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="ServerPort" value="5555"/>
    <add key="DebugMode" value="True"/>

    <!-- Indiquer ici les paramètres su jeu -->

    <!-- Nombre de joueurs: 1 ou 2 -->
    <add key="PlayersCount" value="1"/>
    
    <!-- Indiquez ici le chemin vers la carte -->
    <add key="Map" value="thetrap.xml"/>

    <!-- Durée max d'une partie -->
    <add key="MaxGameDuration" value="00:05:00"/>

    <!-- Durée max d'un coup -->
    <add key="MaxPlayDuration" value="00:00:05"/>

    <!-- Nombre de coups max pour une partie -->
    <add key="MaxPlays" value="200"/>
    
  </appSettings>
</configuration>